/* ================================== OVERALL STYLING ================================== */
.full-dv-layout {
        height: 100%;
        width: 100%;
        padding: 0.5em;
        display: flex;
        gap: 0.5em;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        background: radial-gradient(circle at 20% 20%, #0f172a 0%, #1e293b 60%, #0a0a0a 100%);
        color: #f1f5f9;
        position: relative;
        overflow: hidden;
        color: rgb(48, 45, 45);
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.background-glow {
        position: absolute;
        top: -100px;
        left: 20%;
        width: 600px;
        height: 600px;
        background: radial-gradient(circle, rgba(59,130,246,0.25) 0%, transparent 70%);
        filter: blur(90px);
        z-index: 0;
        animation: pulse 6s infinite alternate;
}

.left-section {
        width: 25%;
        height: 100%;
        border-radius: 25px;
        border: 1px solid rgba(255,255,255,0.1);
        box-shadow: 0 10px 20px rgba(0,0,0,0.3);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 2 ;
        background: #ffffff;
        border: 0.3rem solid rgb(57, 107, 207);
        border-radius: 0.2rem;
}

.left-section h4 {
        color: black;
        margin: 0px ;   
        padding: 0px;
        line-height: 1.2;
        text-align: center;
        padding: 10px 0 0 0;
}

.right-section {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        position: relative;
        z-index: 2;
}

.toggle-button {
        position: absolute;
        top: 0.75em;
        right: 0.75em;
        z-index: 10;
        padding: 0.3em 0.6em;
        border-radius: 10px;
        background: linear-gradient(120deg, rgba(59,130,246,0.5), rgba(147,51,234,0.4));
        border: 1px solid rgba(255,255,255,0.2);
        color: #bfdbfe;
        font-weight: 600;
        font-size: 0.8em;
        cursor: pointer;
        box-shadow: 0 4px 10px rgba(0,0,0,0.3);
        transition: all 0.3s ease;
}

.bottom-3-cards {
        flex: 1;
        width: 100%;
        display: flex;
        gap: 0.5em;
}


/* =============================== CORRELATION HEATMAPS =============================== */
.blob {
        width: 100%;
        height: 20rem;  
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: rgb(48, 45, 45);
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: #64dfa0;
}

.blobLegend {
        width: 20rem;
        height: auto;
}

.blobLegend1, .blobLegend2, .blobLegend3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
}

.blobLegend1 img, .blobLegend2 img, .blobLegend3 img {
        height: 2rem;
        padding: 0rem 1rem;
}

.correlation-biomarkers {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 0;
    padding-top: 0;
    overflow: hidden;
}

.heatmap {
    display: block;
    margin: 0 auto 20px auto;
    padding-top: 0;
    margin-left: 20px;
    font-size: 12px;
    background-color: pink;
    width: 100%;
    height: 20rem;
    align-items: center;
    justify-content: center;
}

.slider-columns {
    display: flex;
    gap: 5px;
    width: 100%;
    background-color: rgb(237, 239, 158);
}
  
.column {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
}
  
.slider-row {
    display: flex;
    align-items: center;
    gap: 3px;
    color: black;
}

.slider-row label {
    width: 40px;
    font-weight: 600;
    font-size: 10px;
    color: black;
}
  
.slider-row input[type="range"] {
    width: 90px;
    accent-color: #d75f4c;
}
  
.slider-row span {
    width: 20px;
    text-align: right;
    font-family: monospace;
    font-size: 10px;
}


/* =========================== BRAIN ENCODING DIALS SECTION =========================== */

.brains_and_dials {
        height: 45%;
        width: 100%;
        background: #ffffff;
        box-shadow: 0 10px 20px rgba(0,0,0,0.3);
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;  
        overflow: hidden; 
        color: rgb(48, 45, 45);
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border: 0.3rem solid rgb(57, 107, 207);
        border-radius: 0.2rem;
        
}

.brains {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
}


.brain1, .brain2, .brain3 { 
    width: 20rem;
    height: auto;
    display: flex; 
    flex-direction: column;      
    justify-content: center;
    align-items: center;
    overflow: hidden;   
    padding: 0rem 1rem;   
    position: relative; 
}

.brain1 p, .brain2 p, .brain3 p {
        line-height: 0.2rem;
}

.brain1-prob, .brain2-prob, .brain3-prob {
        color: rgb(255, 255, 255);
        font-size: 3rem;
        position: absolute;
        top: 35%;
        left: 52%;
        transform: translate(-50%, -50%);
}

.brain1 {
        fill: #7cbadc;
}

.brain2 {
        fill:#4585c1;
}

.brain3 {
        fill: #5459AC
}

.dial {
       width: 20rem;
       height: 100%;
       justify-content: center;
       align-items: center;
       line-height: 0.2rem;
}

/* ================================ PARTICIPANT PROFILE ================================ */
.participant-profile-card {
        flex: 1 ;
        box-shadow: 0 10px 20px rgba(0,0,0,0.25);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.5em;
        overflow: hidden;
        background: #ffffff;
        border: 0.3rem solid rgb(57, 107, 207);
        border-radius: 0.2rem;
}


.participant-profile-card h4 {
        margin: 0.5em 0; 
        font-weight: 600;
        color: "black";
}

.participant-profile-card p {
        margin: 0.25em 0;
        font-size: 0.9em;
        color: #d1fae5;
}

#profile-chart .domain,
#profile-chart .tick line {
    stroke: black !important;
    stroke-width: 0.8 !important;
}

#profile-chart .tick text {
    fill: black !important;
    font-weight: 400 !important;
    font-size: 10px !important;
}

.chart-container {
    position: relative;
    width: 900px;
    margin: 20px auto;
}
  
.controls {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 15px;
}
  
.control-label {
    font-weight: 200;
    color: black;
}
  
.radio-group {
    display: flex;
    gap: 10px;
}
  
.radio-item span {
    color: black;
    margin-left: 4px;
}
  
.axis-label {
    fill: black;
    font-size: 12px;
    font-weight: 600;
}
  
.tooltip {
    position: absolute;
    background: rgba(0,0,0,0.8);
    color: white;
    padding: 6px 10px;
    border-radius: 6px;
    pointer-events: none;
    opacity: 0;
    font-size: 12px;
    cursor: default;
    white-space: nowrap;
    transition: opacity 0.2s ease;
    visibility: hidden;
}

.tooltip:hover {
    visibility: visible;
    opacity: 1;
}


/* ==================================== WORD CLOUD  ==================================== */
.word-cloud-card {
        flex: 1;
        border-radius: 25px;
        border: 1px solid rgba(255,255,255,0.1);
        box-shadow: 0 10px 20px rgba(0,0,0,0.25);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.5em;
        overflow: hidden;
        background: #ffffff;
        border: 0.3rem solid rgb(57, 107, 207);
        border-radius: 0.2rem;
}

.word-cloud-card h4 {
        margin: 0.5em 0;
        color: #bfdbfe;
        font-weight: 600 ;
}

.word-cloud-card p {
        margin: 0.25em 0;
        font-size: 0.9em;
        color: #dbeafe;
}

/* ================================= CORRELATION MATRIX ================================= */

.correlation-matrix-card {
        flex: 1;
        border-radius: 25px;
        border: 1px solid rgba(255,255,255,0.1);
        box-shadow: 0 10px 20px rgba(0,0,0,0.25);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.5em;
        overflow: hidden;
        background: #ffffff;
        border: 0.3rem solid rgb(57, 107, 207);
        border-radius: 0.2rem;

}

correlation-matrix-card h4 {
        margin: 0.5em 0;
        color: #c084fc;
        font-weight: 600;
}

correlation-matrix-card p {
        margin: 0.25em 0;
        font-size: 0.9em;
        color: #e9d5ff;
}






