
.correlationHeatmaps {
        background-color: rgb(255, 255, 255); 
}


.heatmap {
        background-color: violet; /*Just tempororary*/
}

.heatmap_sliders {
        background-color: rgb(212, 184, 40); /*Just tempororary*/
}

.blob {
        background-color: rgb(169, 173, 173); /*Just tempororary*/

        /* temp code */
        border: 2px solid red;
        width: 100%;
        height: 250px;  
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}


.brains_and_dials {
        /* moved aditya's code from js file to here */
        height: 45%;
        width: 100%;
        border-radius: 25px;
        background: linear-gradient(120deg, rgba(30,64,175,0.4), rgba(147,51,234,0.3));
        border: 1px solid rgba(255,255,255,0.1);
        box-shadow: 0 10px 20px rgba(0,0,0,0.3);
        align-items: center;
        justify-content: center;

        /* added code to make divs stack vertically */
        display: flex;
        flex-direction: column;  
        overflow: hidden; 
        
}


.brains {
        background-color: violet; /*Just tempororary*/

        /* stack divs horizontally*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0 2rem;   
        
}


/* css styles that will be applied to all 3 brains */
.brain1, .brain2, .brain3 { 
    width: auto;
    height: 20rem;
    display: flex; 
    flex-direction: column;      
    justify-content: center;
    align-items: center;
    overflow: hidden; 


    
}

.brain1 {
        background-color: rgb(184, 229, 237); /*Just tempororary*/
        fill: #63C8FF;
}

.brain2 {
        background-color: rgb(43, 212, 40); /*Just tempororary*/
        fill:#4585c1;
}

.brain3 {
        background-color: rgb(70, 165, 206); /*Just tempororary*/
        fill: #5459AC
}

.dial {
        background-color: rgb(158, 156, 15); /*Just tempororary*/
}

