
.correlationHeatmaps {
        background-color: rgb(255, 255, 255); 
}

.heatmap {
        background-color: violet; /*Just tempororary*/
}

.heatmap_sliders {
        background-color: rgb(212, 184, 40); /*Just tempororary*/
}

.blob {
        background-color: rgb(169, 173, 173); /*Just tempororary*/

        /* temp code */
        border: 2px solid red;
        width: 100%;
        height: 250px;  
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}


.brains_and_dials {
        /* moved aditya's code from js file to here */
        height: 45%;
        width: 100%;
        border-radius: 25px;
        background: linear-gradient(120deg, rgba(30,64,175,0.4), rgba(147,51,234,0.3));
        border: 1px solid rgba(255,255,255,0.1);
        box-shadow: 0 10px 20px rgba(0,0,0,0.3);
        align-items: center;
        justify-content: center;

        /* added code to make divs stack vertically */
        display: flex;
        flex-direction: column;  
        
}

.brains {
        background-color: violet; /*Just tempororary*/

        /* stack divs horizontally*/
        display: flex;
        flex-direction: row;  
}

.brain1 {
        background-color: rgb(255, 0, 0); /*Just tempororary*/
}

.brain2 {
        background-color: rgb(43, 212, 40); /*Just tempororary*/
}

.brain3 {
        background-color: rgb(70, 165, 206); /*Just tempororary*/
}

.dial {
        background-color: rgb(158, 156, 15); /*Just tempororary*/
}

