/* ================================== OVERALL STYLING ================================== */



/* =============================== CORRELATION HEATMAPS =============================== */
.blob {
        background: #e3e3e3;
        border: 0.3rem solid rgb(57, 107, 207);
        border-radius: 0.2rem;
        width: 100%;
        height: 250px;  
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: rgb(48, 45, 45);
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.blobLegend {
        width: 20rem;
        height: auto;
}

.blobLegend1, .blobLegend2, .blobLegend3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
}

.blobLegend1 img, .blobLegend2 img, .blobLegend3 img {
        height: 2rem;
        padding: 0rem 1rem;
}


.correlationHeatmaps {
        background-color: rgb(255, 255, 255); 
}

.heatmap {
        background-color: violet; /*Just tempororary*/
}

.heatmap_sliders {
        background-color: rgb(212, 184, 40); /*Just tempororary*/
}



/* =========================== BRAIN ENCODING DIALS SECTION =========================== */

.brains_and_dials {
        height: 45%;
        width: 100%;
        background: #e3e3e3;
        box-shadow: 0 10px 20px rgba(0,0,0,0.3);
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;  
        overflow: hidden; 
        color: rgb(48, 45, 45);
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border: 0.3rem solid rgb(57, 107, 207);
        border-radius: 0.2rem;
        
}

.brains {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
}


.brain1, .brain2, .brain3 { 
    width: 20rem;
    height: auto;
    display: flex; 
    flex-direction: column;      
    justify-content: center;
    align-items: center;
    overflow: hidden;   
    padding: 0rem 1rem;   
    position: relative; 
}

.brain1 p, .brain2 p, .brain3 p {
        line-height: 0.2rem;
}

.brain1-prob, .brain2-prob, .brain3-prob {
        color: rgb(255, 255, 255);
        font-size: 3rem;
        position: absolute;
        top: 35%;
        left: 52%;
        transform: translate(-50%, -50%);
}

.brain1 {
        fill: #7cbadc;
}

.brain2 {
        fill:#4585c1;
}

.brain3 {
        fill: #5459AC
}

.dial {
       width: 20rem;
       height: 100%;
       justify-content: center;
       align-items: center;
       line-height: 0.2rem;
}

/* ================================ PARTICIPANT PROFILE ================================ */
/* ==================================== WORD CLOUD  ==================================== */
/* ================================= CORRELATION MATRIX ================================= */








